In [22]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import sys
import os
from src.data_processing import process_data

In [23]:
project_root = os.path.abspath('..')
if project_root not in sys.path:
    sys.path.insert(0, project_root)
path_to_datasets = os.path.join(project_root, 'data', 'external', 'archive')
orders = pd.read_csv(f"{path_to_datasets}/olist_order_items_dataset.csv")
purchases = pd.read_csv(f"{path_to_datasets}/olist_orders_dataset.csv", parse_dates=['order_purchase_timestamp'])
products = pd.read_csv(f"{path_to_datasets}/olist_products_dataset.csv")

In [24]:
df = process_data(orders, purchases, products)
df

,week,x_coordinate,y_coordinate,purchase_count_prod_A,purchase_count_prod_B,purchase_count_prod_C,purchase_count_prod_D,purchase_count_prod_E,average_price_prod_A,average_price_prod_B,average_price_prod_C,average_price_prod_D,average_price_prod_E
0,0,0.840618,0.541628,0.0,0.0,7.0,0.0,0.0,41.7348,92.570598,89.900000,46.444853,196.216868
1,1,0.899631,0.436651,0.0,0.0,5.0,0.0,0.0,41.7348,92.570598,89.900000,46.444853,196.216868
2,2,0.945596,0.325342,0.0,0.0,4.0,0.0,0.0,41.7348,92.570598,89.900000,46.444853,196.216868
3,3,0.977848,0.209315,0.0,0.0,4.0,0.0,0.0,41.7348,92.570598,89.900000,46.444853,196.216868
4,4,0.995919,0.090252,0.0,0.0,6.0,0.0,0.0,41.7348,92.570598,89.900000,46.444853,196.216868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,73,-0.361714,-0.932289,1.0,2.0,2.0,2.0,0.0,39.9900,84.900000,74.000000,47.900000,196.216868
74,74,-0.471160,-0.882048,4.0,2.0,2.0,0.0,0.0,39.9900,84.900000,74.000000,46.444853,196.216868
75,75,-0.573772,-0.819015,1.0,0.0,1.0,0.0,0.0,39.9900,92.570598,74.000000,46.444853,196.216868
76,76,-0.668064,-0.744104,5.0,0.0,5.0,0.0,0.0,39.0300,92.570598,74.000000,46.444853,196.216868
77,77,-0.752667,-0.658402,1.0,0.0,0.0,0.0,0.0,38.7900,92.570598,87.086735,46.444853,196.216868

In [25]:
cols = df.columns
last_5 = cols[-5:]          # Last 5 columns
last_10_to_6 = cols[-10:-5] # 6th to 10th last columns

# Swap positions
new_order = list(cols[:-10]) + list(last_5) + list(last_10_to_6)
df = df[new_order]
df

,week,x_coordinate,y_coordinate,average_price_prod_A,average_price_prod_B,average_price_prod_C,average_price_prod_D,average_price_prod_E,purchase_count_prod_A,purchase_count_prod_B,purchase_count_prod_C,purchase_count_prod_D,purchase_count_prod_E
0,0,0.840618,0.541628,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,7.0,0.0,0.0
1,1,0.899631,0.436651,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,5.0,0.0,0.0
2,2,0.945596,0.325342,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,0.0,0.0
3,3,0.977848,0.209315,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,0.0,0.0
4,4,0.995919,0.090252,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,73,-0.361714,-0.932289,39.9900,84.900000,74.000000,47.900000,196.216868,1.0,2.0,2.0,2.0,0.0
74,74,-0.471160,-0.882048,39.9900,84.900000,74.000000,46.444853,196.216868,4.0,2.0,2.0,0.0,0.0
75,75,-0.573772,-0.819015,39.9900,92.570598,74.000000,46.444853,196.216868,1.0,0.0,1.0,0.0,0.0
76,76,-0.668064,-0.744104,39.0300,92.570598,74.000000,46.444853,196.216868,5.0,0.0,5.0,0.0,0.0
77,77,-0.752667,-0.658402,38.7900,92.570598,87.086735,46.444853,196.216868,1.0,0.0,0.0,0.0,0.0

In [30]:
import pandas as pd

# Assume df is your original DataFrame, sorted by week in ascending order.
# Example columns: ['week', 'x_coordinate', 'y_coordinate', 'purchase_count_prod_A', ..., 'average_price_prod_E']

# Create shifted versions
df_prev1 = df.shift(1).add_suffix('_t-1')
df_prev2 = df.shift(2).add_suffix('_t-2')

# Combine all into a single DataFrame
df_combined = pd.concat([df_prev2, df_prev1, df], axis=1)

# Drop rows that don't have full history (the first two weeks)
df_combined = df_combined.dropna(subset=['week_t-2'])  # This ensures we only keep rows where t-2 data is available.

# If you do not need the 'week' columns, you can drop them:
# df_combined = df_combined.drop(columns=['week_t-2', 'week_t-1', 'week'])

# df_combined now contains for each row the features of week t, t-1, and t-2 on a single line,
# ready to be fed into a neural network.
df_combined.drop("week_t-2", axis=1, inplace=True)
df_combined.drop("week_t-1", axis=1, inplace=True)
df_combined = df_combined.reset_index(drop=True)
df_combined

,x_coordinate_t-2,y_coordinate_t-2,average_price_prod_A_t-2,average_price_prod_B_t-2,average_price_prod_C_t-2,average_price_prod_D_t-2,average_price_prod_E_t-2,purchase_count_prod_A_t-2,purchase_count_prod_B_t-2,purchase_count_prod_C_t-2,...,average_price_prod_A,average_price_prod_B,average_price_prod_C,average_price_prod_D,average_price_prod_E,purchase_count_prod_A,purchase_count_prod_B,purchase_count_prod_C,purchase_count_prod_D,purchase_count_prod_E
0,0.840618,0.541628,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,7.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,0.0,0.0
1,0.899631,0.436651,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,5.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,0.0,0.0
2,0.945596,0.325342,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,6.0,0.0,0.0
3,0.977848,0.209315,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,7.0,0.0,0.0
4,0.995919,0.090252,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,6.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,-0.128748,-0.991677,39.9900,84.900000,87.086735,46.444853,196.216868,3.0,2.0,0.0,...,39.9900,84.900000,74.000000,47.900000,196.216868,1.0,2.0,2.0,2.0,0.0
72,-0.247022,-0.969010,39.9900,84.900000,87.086735,46.444853,196.216868,1.0,3.0,0.0,...,39.9900,84.900000,74.000000,46.444853,196.216868,4.0,2.0,2.0,0.0,0.0
73,-0.361714,-0.932289,39.9900,84.900000,74.000000,47.900000,196.216868,1.0,2.0,2.0,...,39.9900,92.570598,74.000000,46.444853,196.216868,1.0,0.0,1.0,0.0,0.0
74,-0.471160,-0.882048,39.9900,84.900000,74.000000,46.444853,196.216868,4.0,2.0,2.0,...,39.0300,92.570598,74.000000,46.444853,196.216868,5.0,0.0,5.0,0.0,0.0
75,-0.573772,-0.819015,39.9900,92.570598,74.000000,46.444853,196.216868,1.0,0.0,1.0,...,38.7900,92.570598,87.086735,46.444853,196.216868,1.0,0.0,0.0,0.0,0.0

In [31]:
columns = ['week'] + [col for col in df_combined if col != 'week']
df_combined = df_combined[columns]
df_combined

,week,x_coordinate_t-2,y_coordinate_t-2,average_price_prod_A_t-2,average_price_prod_B_t-2,average_price_prod_C_t-2,average_price_prod_D_t-2,average_price_prod_E_t-2,purchase_count_prod_A_t-2,purchase_count_prod_B_t-2,...,average_price_prod_A,average_price_prod_B,average_price_prod_C,average_price_prod_D,average_price_prod_E,purchase_count_prod_A,purchase_count_prod_B,purchase_count_prod_C,purchase_count_prod_D,purchase_count_prod_E
0,2,0.840618,0.541628,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,0.0,0.0
1,3,0.899631,0.436651,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,4.0,0.0,0.0
2,4,0.945596,0.325342,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,6.0,0.0,0.0
3,5,0.977848,0.209315,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,7.0,0.0,0.0
4,6,0.995919,0.090252,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,...,41.7348,92.570598,89.900000,46.444853,196.216868,0.0,0.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,73,-0.128748,-0.991677,39.9900,84.900000,87.086735,46.444853,196.216868,3.0,2.0,...,39.9900,84.900000,74.000000,47.900000,196.216868,1.0,2.0,2.0,2.0,0.0
72,74,-0.247022,-0.969010,39.9900,84.900000,87.086735,46.444853,196.216868,1.0,3.0,...,39.9900,84.900000,74.000000,46.444853,196.216868,4.0,2.0,2.0,0.0,0.0
73,75,-0.361714,-0.932289,39.9900,84.900000,74.000000,47.900000,196.216868,1.0,2.0,...,39.9900,92.570598,74.000000,46.444853,196.216868,1.0,0.0,1.0,0.0,0.0
74,76,-0.471160,-0.882048,39.9900,84.900000,74.000000,46.444853,196.216868,4.0,2.0,...,39.0300,92.570598,74.000000,46.444853,196.216868,5.0,0.0,5.0,0.0,0.0
75,77,-0.573772,-0.819015,39.9900,92.570598,74.000000,46.444853,196.216868,1.0,0.0,...,38.7900,92.570598,87.086735,46.444853,196.216868,1.0,0.0,0.0,0.0,0.0

In [33]:
path_to_datasets = os.path.join(project_root, 'data', 'external', 'archive')
output_dir = os.path.join(project_root,'data', 'processed')
os.makedirs(output_dir, exist_ok=True)

# Save your dataframe to a CSV file
output_path = os.path.join(output_dir, 'processed_data.csv')
df_combined.to_csv(output_path, index=False)